<!DOCTYPE html>
<html>
<!--

|---------------------------|
|                           |
|  L        X          X    |
|  L          X      X      |
|  L            X  X        |
|  L             XX         |
|  L            X  X        |
|  L          X      X      |
|  LLLLLLLL X          X    |
|                           |
|---------------------------|

-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="learnLX is an open-source platform to interactively learn programming languages. Learn your next language today.">
  <link rel="icon" type="image/png" href="img/favicon.png">

  <title>learnLX</title>

  <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="additional-styles.css" type="text/css">

</head>
<body>

  <nav id="regular-topbar">
    <img id="topbar-logo" src="darkTypoLogo.png">
  </nav>

  <div class="container text-center">
    <h1>The instance is functioning!</h1>
    <br>
    <p>Thanks for checking out the learnLX project on Github!</p>
    <p>Submit an issue or email us up at github [at] learnlx.com if you have any questions, comments, or issues to report!</p>
    <hr>
    <p><a href="http://learnlx.com">Check out the website</a></p>
    <p><a href="https://github.com/learnLX">Check back with the project on Github</a></p>
    <p><a href="https://twitter.com/learnlx">Follow learnLX on Twitter</a></p>
  </div>

</body>
</html>
